In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os as os
import warnings
warnings.filterwarnings("ignore")

In [2]:
os.getcwd()
os.chdir("C://Users//Asra Iqbal//Desktop")

# 1 Import data

In [3]:
dataset= pd.read_csv("UCI_Credit_Card.csv")
dataset.shape

(30000, 25)

In [4]:
dataset.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [5]:
# dataset.isnull().sum()
dataset.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month'],
      dtype='object')

In [6]:
dataset.columns=['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'target']

# 2 missing value

In [7]:
dataset.isnull().sum()

ID           0
LIMIT_BAL    0
SEX          0
EDUCATION    0
MARRIAGE     0
AGE          0
PAY_0        0
PAY_2        0
PAY_3        0
PAY_4        0
PAY_5        0
PAY_6        0
BILL_AMT1    0
BILL_AMT2    0
BILL_AMT3    0
BILL_AMT4    0
BILL_AMT5    0
BILL_AMT6    0
PAY_AMT1     0
PAY_AMT2     0
PAY_AMT3     0
PAY_AMT4     0
PAY_AMT5     0
PAY_AMT6     0
target       0
dtype: int64

#  3 EDA

In [8]:
print(dataset['target'].value_counts()) #normalize=True % with respect to total
print(dataset['target'].value_counts(normalize=True))

0    23364
1     6636
Name: target, dtype: int64
0    0.7788
1    0.2212
Name: target, dtype: float64

In [9]:
dataset['EDUCATION'].value_counts()

2    14030
1    10585
3     4917
5      280
4      123
6       51
0       14
Name: EDUCATION, dtype: int64

In [10]:
dataset.query('EDUCATION !=0 and EDUCATION !=6 and EDUCATION !=5  ', inplace= True)
dataset['EDUCATION'].value_counts()

2    14030
1    10585
3     4917
4      123
Name: EDUCATION, dtype: int64

In [11]:
dataset['MARRIAGE'].value_counts()

2    15806
1    13477
3      318
0       54
Name: MARRIAGE, dtype: int64

In [12]:
dataset.query('MARRIAGE!=0', inplace= True)
dataset['MARRIAGE'].value_counts()

2    15806
1    13477
3      318
Name: MARRIAGE, dtype: int64

In [13]:
dataset.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,target
count,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000,...,29601.000000,29601.000000,29601.000000,29601.000000,2.960100e+04,29601.000000,29601.000000,29601.000000,29601.000000,29601.000000
mean,14971.758927,167550.544914,1.603189,1.815479,1.555454,35.464072,-0.014932,-0.131313,-0.163440,-0.218303,...,43122.554204,40235.545184,38858.449816,5649.560319,5.894788e+03,5198.415898,4828.659268,4795.032735,5181.326374,0.223134
std,8660.184430,129944.020953,0.489244,0.710399,0.518092,9.213243,1.124503,1.199642,1.199793,1.172220,...,64196.383913,60699.344884,59519.893043,16568.264941,2.308919e+04,17580.914806,15711.057992,15244.217154,17657.260739,0.416355
min,1.000000,10000.000000,1.000000,1.000000,1.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7474.000000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2329.000000,1780.000000,1278.000000,1000.000000,8.250000e+02,390.000000,298.000000,259.000000,138.000000,0.000000
50%,14953.000000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19005.000000,18091.000000,17118.000000,2100.000000,2.007000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22463.000000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54271.000000,50072.000000,49121.000000,5005.000000,5.000000e+03,4500.000000,4014.000000,4042.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,4.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

In [14]:
pd.crosstab(dataset.target, [dataset.AGE, dataset.LIMIT_BAL , dataset.SEX, dataset.EDUCATION, dataset.MARRIAGE])

AGE             21                                           ...          72  \
LIMIT_BAL 10000.0           20000.0            30000.0       ...    300000.0
SEX              1     2           1  2               1  2   ...           1
EDUCATION        2  3  1  2        2  1  2            2  1   ...           3
MARRIAGE         2  2  2  2        2  2  1   2        2  2   ...           1
target                                                       ...
0                4  1  1  2        7  3  2  11        1  1   ...           1
1                3  0  0  3        2  0  1   1        0  1   ...           0

AGE             73                                  74       75           \
LIMIT_BAL 80000.0  140000.0 360000.0 500000.0 160000.0 180000.0 210000.0
SEX              1        1        2        2        2        1        1
EDUCATION        3        2        3        2        3        1        2
MARRIAGE         1        1        1        1        1        1        1
target
0                0        1        0        0        1        0        1
1                1        0        1        1        0        1        0

AGE                      79
LIMIT_BAL 250000.0 440000.0
SEX              2        1
EDUCATION        2        1
MARRIAGE         1        1
target
0                1        1
1                0        0

[2 rows x 10155 columns]

#  4  label encoding and standardization

education is already label encoded 
only age and sex needs to be onehot encoded

In [17]:
from sklearn.preprocessing import OneHotEncoder
ohe= OneHotEncoder()
onehot= ohe.fit_transform(dataset[["SEX", "MARRIAGE", "EDUCATION"]])

In [18]:
onehot=onehot.toarray()

In [19]:
x=pd.DataFrame(onehot)

In [20]:
x.columns=['male','female', 'married', 'single', 'others status','graduate school','university', 'high school',"others education"]
x.head()

,male,female,married,single,others status,graduate school,university,high school,others education
0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [21]:
dataset=dataset.reset_index(drop=True)
df= pd.concat([dataset, x],1)
df=df.drop(['SEX', 'MARRIAGE', 'EDUCATION','ID'],1)
df.head()
df.shape
# df.isnull().sum()

(29601, 30)

In [22]:
X=df.drop(['target'],1)
X.head(5)
y=pd.DataFrame(df['target'])
y.columns=['target']
#y.head()

In [23]:
X.head(2)

,LIMIT_BAL,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,...,PAY_AMT6,male,female,married,single,others status,graduate school,university,high school,others education
0,20000.0,24,2,2,-1,-1,-2,-2,3913.0,3102.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,120000.0,26,-1,2,0,0,0,2,2682.0,1725.0,...,2000.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [24]:
x_num=X.drop(['PAY_0','PAY_2','PAY_3','PAY_4','PAY_5', 'PAY_6','male','female', 'married', 'single', 'others status','graduate school','university', 'high school',"others education"],1)
X1= X[['PAY_0','PAY_2','PAY_3','PAY_4','PAY_5', 'PAY_6','male','female', 'married', 'single', 'others status','graduate school','university', 'high school',"others education"]]
colsx=x_num.columns

In [25]:
from sklearn.preprocessing import MinMaxScaler

In [26]:
scaler=MinMaxScaler()
X_num=scaler.fit_transform(x_num)
X_num=pd.DataFrame(X_num)
X_num.columns=colsx

In [27]:
X_num.head(2)

,LIMIT_BAL,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,0.010101,0.051724,0.149982,0.069164,0.086723,0.160138,0.080648,0.260979,0.0,0.000409,0.000000,0.00000,0.0,0.000000
1,0.111111,0.086207,0.148892,0.067858,0.087817,0.163220,0.084074,0.263485,0.0,0.000594,0.001116,0.00161,0.0,0.003783

In [28]:
X1.head(2)

,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,male,female,married,single,others status,graduate school,university,high school,others education
0,2,2,-1,-1,-2,-2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,-1,2,0,0,0,2,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [29]:
X_num=X_num.reset_index(drop=True)
X_f= pd.concat([X_num, X1],1)

In [30]:
X_f.head()

,LIMIT_BAL,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,...,PAY_6,male,female,married,single,others status,graduate school,university,high school,others education
0,0.010101,0.051724,0.149982,0.069164,0.086723,0.160138,0.080648,0.260979,0.000000,0.000409,...,-2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.111111,0.086207,0.148892,0.067858,0.087817,0.163220,0.084074,0.263485,0.000000,0.000594,...,2,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.080808,0.224138,0.172392,0.079532,0.093789,0.173637,0.095470,0.272928,0.001738,0.000891,...,0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,0.040404,0.275862,0.188100,0.111995,0.113407,0.186809,0.109363,0.283685,0.002290,0.001199,...,0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.040404,0.620690,0.154144,0.071601,0.106020,0.179863,0.099633,0.275681,0.002290,0.021779,...,0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [31]:
# from sklearn.cross_validation import train_test_split
# from sklearn.linear_model import LogisticRegression
# from sklearn.model_selection import cross_val_score

without feature selection acurae was 64

In [32]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_f, y, test_size = 0.30, random_state = 52)

C:\Users\Asra Iqbal\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [33]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(20720, 29)
(8881, 29)
(20720, 1)
(8881, 1)

In [34]:
import keras

Using TensorFlow backend.

In [36]:
#sequential module is required to initialise our neural network
#dense module is required to build the layers of our ANN 
from keras.models import Sequential
from keras.layers import Dense

In [45]:
import warnings
warnings.filterwarnings("ignore")

In [40]:
classifier= Sequential()

In [41]:
#input layer and first hidden layer
classifier.add(Dense(output_dim = 15,init= 'uniform', activation='relu', input_dim= 29)) # number of nodes in input layer=29, number of nodes in output layer=1 [(29+1)/2=15]
#15 nodes in the hidden layer

In [42]:
#second hidden layer
classifier.add(Dense(output_dim = 15,init= 'uniform', activation='relu')) #15=mean of nodes in input andoutput

In [43]:
#output layer
classifier.add(Dense(output_dim = 1,init= 'uniform', activation='sigmoid'))

In [46]:
#compiling ANN
classifier.compile(optimizer= 'adam' , loss= 'binary_crossentropy' , metrics= ['accuracy']) 
#if binary outcome(logarithmic loss function)= binary_crossentropy
#if more than 2 categories in outcome= categorical_crossentropy

In [54]:
#fitting ANN to traaining set
classifier.fit(X_train,y_train,batch_size = 10, epochs = 200)

Epoch 1/200
20720/20720 [==============================] - 4s 171us/step - loss: 0.4267 - acc: 0.8235
Epoch 2/200
20720/20720 [==============================] - 4s 170us/step - loss: 0.4272 - acc: 0.8228
Epoch 3/200
20720/20720 [==============================] - 4s 170us/step - loss: 0.4268 - acc: 0.8237
Epoch 4/200
20720/20720 [==============================] - 4s 174us/step - loss: 0.4271 - acc: 0.8224
Epoch 5/200
20720/20720 [==============================] - 4s 206us/step - loss: 0.4270 - acc: 0.8236
Epoch 6/200
20720/20720 [==============================] - 4s 173us/step - loss: 0.4268 - acc: 0.8239
Epoch 7/200
20720/20720 [==============================] - 4s 173us/step - loss: 0.4268 - acc: 0.8238
Epoch 8/200
20720/20720 [==============================] - 4s 172us/step - loss: 0.4262 - acc: 0.8230
Epoch 9/200
20720/20720 [==============================] - 4s 213us/step - loss: 0.4263 - acc: 0.8230
Epoch 10/200
20720/20720 [==============================] - 4s 177us/step - loss: 0.4267 - acc: 0.8233
Epoch 11/200
20720/20720 [==============================] - 4s 177us/step - loss: 0.4263 - acc: 0.8229
Epoch 12/200
20720/20720 [==============================] - 4s 179us/step - loss: 0.4262 - acc: 0.8225
Epoch 13/200
20720/20720 [==============================] - 4s 216us/step - loss: 0.4258 - acc: 0.8225
Epoch 14/200
20720/20720 [==============================] - 4s 180us/step - loss: 0.4259 - acc: 0.8230
Epoch 15/200
20720/20720 [==============================] - 4s 180us/step - loss: 0.4255 - acc: 0.8233
Epoch 16/200
20720/20720 [==============================] - 4s 178us/step - loss: 0.4254 - acc: 0.8239
Epoch 17/200
20720/20720 [==============================] - 4s 214us/step - loss: 0.4254 - acc: 0.8239
Epoch 18/200
20720/20720 [==============================] - 4s 186us/step - loss: 0.4259 - acc: 0.8235
Epoch 19/200
20720/20720 [==============================] - 4s 179us/step - loss: 0.4252 - acc: 0.8242
Epoch 20/200
20720/20720 [==============================] - 4s 175us/step - loss: 0.4257 - acc: 0.8222
Epoch 21/200
20720/20720 [==============================] - 4s 201us/step - loss: 0.4254 - acc: 0.8234
Epoch 22/200
20720/20720 [==============================] - 4s 199us/step - loss: 0.4256 - acc: 0.8227
Epoch 23/200
20720/20720 [==============================] - 4s 177us/step - loss: 0.4250 - acc: 0.8224
Epoch 24/200
20720/20720 [==============================] - 4s 178us/step - loss: 0.4254 - acc: 0.8231
Epoch 25/200
20720/20720 [==============================] - 4s 198us/step - loss: 0.4250 - acc: 0.8240
Epoch 26/200
20720/20720 [==============================] - 4s 196us/step - loss: 0.4250 - acc: 0.8227
Epoch 27/200
20720/20720 [==============================] - 4s 183us/step - loss: 0.4244 - acc: 0.8235
Epoch 28/200
20720/20720 [==============================] - 4s 183us/step - loss: 0.4244 - acc: 0.8241
Epoch 29/200
20720/20720 [==============================] - 4s 200us/step - loss: 0.4245 - acc: 0.8234
Epoch 30/200
20720/20720 [==============================] - 4s 208us/step - loss: 0.4244 - acc: 0.8238
Epoch 31/200
20720/20720 [==============================] - 4s 184us/step - loss: 0.4243 - acc: 0.8237
Epoch 32/200
20720/20720 [==============================] - 4s 183us/step - loss: 0.4244 - acc: 0.8227
Epoch 33/200
20720/20720 [==============================] - 4s 201us/step - loss: 0.4244 - acc: 0.8234
Epoch 34/200
20720/20720 [==============================] - 4s 212us/step - loss: 0.4243 - acc: 0.8240
Epoch 35/200
20720/20720 [==============================] - 4s 193us/step - loss: 0.4247 - acc: 0.8236
Epoch 36/200
20720/20720 [==============================] - 4s 196us/step - loss: 0.4241 - acc: 0.8245
Epoch 37/200
20720/20720 [==============================] - 5s 222us/step - loss: 0.4240 - acc: 0.8241
Epoch 38/200
20720/20720 [==============================] - 5s 224us/step - loss: 0.4236 - acc: 0.8238
Epoch 39/200
20720/20720 [==============================] - 4s 186us/step - loss: 0.4239 - acc: 0.8230
Epoch 40/200
20720/20720 [==============================] - 4s 188us/step - loss: 0.4243 - acc: 0.8235
Epoch 41/200
20720/20720 [==============================] - 5s 234us/step - loss: 0.4242 - acc: 0.8240
Epoch 42/200
20720/20720 [==============================] - 4s 188us/step - loss: 0.4237 - acc: 0.8234
Epoch 43/200
20720/20720 [==============================] - 4s 190us/step - loss: 0.4236 - acc: 0.8240
Epoch 44/200
20720/20720 [==============================] - 4s 180us/step - loss: 0.4236 - acc: 0.8245
Epoch 45/200
20720/20720 [==============================] - 5s 242us/step - loss: 0.4229 - acc: 0.8239
Epoch 46/200
20720/20720 [==============================] - 4s 195us/step - loss: 0.4233 - acc: 0.8243
Epoch 47/200
20720/20720 [==============================] - 4s 183us/step - loss: 0.4228 - acc: 0.8234
Epoch 48/200
20720/20720 [==============================] - 4s 199us/step - loss: 0.4235 - acc: 0.8250
Epoch 49/200
20720/20720 [==============================] - 5s 240us/step - loss: 0.4232 - acc: 0.8243 1s
Epoch 50/200
20720/20720 [==============================] - 4s 198us/step - loss: 0.4230 - acc: 0.8253
Epoch 51/200
20720/20720 [==============================] - 4s 216us/step - loss: 0.4229 - acc: 0.8236
Epoch 52/200
20720/20720 [==============================] - 5s 237us/step - loss: 0.4231 - acc: 0.8238
Epoch 53/200
20720/20720 [==============================] - 4s 201us/step - loss: 0.4230 - acc: 0.8250
Epoch 54/200
20720/20720 [==============================] - 4s 194us/step - loss: 0.4228 - acc: 0.8248
Epoch 55/200
20720/20720 [==============================] - 4s 190us/step - loss: 0.4228 - acc: 0.8247
Epoch 56/200
20720/20720 [==============================] - 5s 231us/step - loss: 0.4229 - acc: 0.8243
Epoch 57/200
20720/20720 [==============================] - 4s 177us/step - loss: 0.4223 - acc: 0.8241
Epoch 58/200
20720/20720 [==============================] - 4s 174us/step - loss: 0.4224 - acc: 0.8237
Epoch 59/200
20720/20720 [==============================] - 4s 177us/step - loss: 0.4221 - acc: 0.8245
Epoch 60/200
20720/20720 [==============================] - 4s 215us/step - loss: 0.4225 - acc: 0.8248
Epoch 61/200
20720/20720 [==============================] - 4s 185us/step - loss: 0.4223 - acc: 0.8240
Epoch 62/200
20720/20720 [==============================] - 4s 182us/step - loss: 0.4222 - acc: 0.8241
Epoch 63/200
20720/20720 [==============================] - 4s 180us/step - loss: 0.4221 - acc: 0.8240
Epoch 64/200
20720/20720 [==============================] - 4s 214us/step - loss: 0.4220 - acc: 0.8235
Epoch 65/200
20720/20720 [==============================] - 4s 186us/step - loss: 0.4219 - acc: 0.8252
Epoch 66/200
20720/20720 [==============================] - 4s 180us/step - loss: 0.4224 - acc: 0.8255
Epoch 67/200
20720/20720 [==============================] - 4s 185us/step - loss: 0.4218 - acc: 0.8252
Epoch 68/200
20720/20720 [==============================] - 4s 210us/step - loss: 0.4220 - acc: 0.8247
Epoch 69/200
20720/20720 [==============================] - 4s 188us/step - loss: 0.4213 - acc: 0.8243
Epoch 70/200
20720/20720 [==============================] - 4s 181us/step - loss: 0.4219 - acc: 0.8260
Epoch 71/200
20720/20720 [==============================] - 4s 178us/step - loss: 0.4214 - acc: 0.8248
Epoch 72/200
20720/20720 [==============================] - 4s 208us/step - loss: 0.4216 - acc: 0.8250
Epoch 73/200
20720/20720 [==============================] - 4s 194us/step - loss: 0.4214 - acc: 0.8250
Epoch 74/200
20720/20720 [==============================] - 4s 185us/step - loss: 0.4217 - acc: 0.8259
Epoch 75/200
20720/20720 [==============================] - 4s 184us/step - loss: 0.4212 - acc: 0.8246
Epoch 76/200
20720/20720 [==============================] - 4s 210us/step - loss: 0.4213 - acc: 0.8247
Epoch 77/200
20720/20720 [==============================] - 4s 198us/step - loss: 0.4210 - acc: 0.8248
Epoch 78/200
20720/20720 [==============================] - 4s 185us/step - loss: 0.4214 - acc: 0.8253
Epoch 79/200
20720/20720 [==============================] - 4s 187us/step - loss: 0.4213 - acc: 0.8248
Epoch 80/200
20720/20720 [==============================] - 4s 194us/step - loss: 0.4211 - acc: 0.8259
Epoch 81/200
20720/20720 [==============================] - 4s 176us/step - loss: 0.4210 - acc: 0.8255
Epoch 82/200
20720/20720 [==============================] - 3s 168us/step - loss: 0.4208 - acc: 0.8261
Epoch 83/200
20720/20720 [==============================] - 4s 174us/step - loss: 0.4213 - acc: 0.8252
Epoch 84/200
20720/20720 [==============================] - 4s 205us/step - loss: 0.4205 - acc: 0.8244
Epoch 85/200
20720/20720 [==============================] - 4s 180us/step - loss: 0.4209 - acc: 0.8257
Epoch 86/200
20720/20720 [==============================] - 4s 191us/step - loss: 0.4207 - acc: 0.8258
Epoch 87/200
20720/20720 [==============================] - 4s 183us/step - loss: 0.4207 - acc: 0.8250
Epoch 88/200
20720/20720 [==============================] - 4s 211us/step - loss: 0.4208 - acc: 0.8264
Epoch 89/200
20720/20720 [==============================] - 4s 191us/step - loss: 0.4209 - acc: 0.8264
Epoch 90/200
20720/20720 [==============================] - 4s 169us/step - loss: 0.4207 - acc: 0.8255
Epoch 91/200
20720/20720 [==============================] - 4s 169us/step - loss: 0.4202 - acc: 0.8261
Epoch 92/200
20720/20720 [==============================] - 4s 171us/step - loss: 0.4203 - acc: 0.8257
Epoch 93/200
20720/20720 [==============================] - 4s 212us/step - loss: 0.4204 - acc: 0.8248
Epoch 94/200
20720/20720 [==============================] - 4s 172us/step - loss: 0.4201 - acc: 0.8262
Epoch 95/200
20720/20720 [==============================] - 4s 170us/step - loss: 0.4203 - acc: 0.8263 1
Epoch 96/200
20720/20720 [==============================] - 4s 169us/step - loss: 0.4204 - acc: 0.8253
Epoch 97/200
20720/20720 [==============================] - 4s 211us/step - loss: 0.4201 - acc: 0.8261
Epoch 98/200
20720/20720 [==============================] - 4s 180us/step - loss: 0.4206 - acc: 0.8262
Epoch 99/200
20720/20720 [==============================] - 4s 170us/step - loss: 0.4204 - acc: 0.8260
Epoch 100/200
20720/20720 [==============================] - 4s 171us/step - loss: 0.4206 - acc: 0.8248
Epoch 101/200
20720/20720 [==============================] - 4s 191us/step - loss: 0.4200 - acc: 0.8255
Epoch 102/200
20720/20720 [==============================] - 4s 189us/step - loss: 0.4204 - acc: 0.8256
Epoch 103/200
20720/20720 [==============================] - 4s 188us/step - loss: 0.4201 - acc: 0.8261
Epoch 104/200
20720/20720 [==============================] - 4s 184us/step - loss: 0.4202 - acc: 0.8245
Epoch 105/200
20720/20720 [==============================] - 4s 206us/step - loss: 0.4203 - acc: 0.8253
Epoch 106/200
20720/20720 [==============================] - 4s 205us/step - loss: 0.4199 - acc: 0.8252
Epoch 107/200
20720/20720 [==============================] - 4s 172us/step - loss: 0.4203 - acc: 0.8250
Epoch 108/200
20720/20720 [==============================] - 4s 172us/step - loss: 0.4194 - acc: 0.8255
Epoch 109/200
20720/20720 [==============================] - 4s 182us/step - loss: 0.4197 - acc: 0.8259
Epoch 110/200
20720/20720 [==============================] - 4s 201us/step - loss: 0.4200 - acc: 0.8264
Epoch 111/200
20720/20720 [==============================] - 4s 175us/step - loss: 0.4196 - acc: 0.8257
Epoch 112/200
20720/20720 [==============================] - 4s 174us/step - loss: 0.4198 - acc: 0.8248
Epoch 113/200
20720/20720 [==============================] - 4s 176us/step - loss: 0.4195 - acc: 0.8261
Epoch 114/200
20720/20720 [==============================] - 4s 213us/step - loss: 0.4198 - acc: 0.8255
Epoch 115/200
20720/20720 [==============================] - 4s 176us/step - loss: 0.4194 - acc: 0.8262
Epoch 116/200
20720/20720 [==============================] - 4s 180us/step - loss: 0.4193 - acc: 0.8254
Epoch 117/200
20720/20720 [==============================] - 4s 176us/step - loss: 0.4192 - acc: 0.8261
Epoch 118/200
20720/20720 [==============================] - 6s 279us/step - loss: 0.4193 - acc: 0.8253
Epoch 119/200
20720/20720 [==============================] - 6s 274us/step - loss: 0.4194 - acc: 0.8257 1s - loss: 0.4201 - acc: 0.
Epoch 120/200
20720/20720 [==============================] - 5s 221us/step - loss: 0.4196 - acc: 0.8262
Epoch 121/200
20720/20720 [==============================] - 5s 228us/step - loss: 0.4194 - acc: 0.8248
Epoch 122/200
20720/20720 [==============================] - 4s 189us/step - loss: 0.4194 - acc: 0.8264
Epoch 123/200
20720/20720 [==============================] - 4s 181us/step - loss: 0.4192 - acc: 0.8257
Epoch 124/200
20720/20720 [==============================] - 4s 183us/step - loss: 0.4189 - acc: 0.8255
Epoch 125/200
20720/20720 [==============================] - 5s 225us/step - loss: 0.4193 - acc: 0.8257
Epoch 126/200
20720/20720 [==============================] - 4s 180us/step - loss: 0.4192 - acc: 0.8264
Epoch 127/200
20720/20720 [==============================] - 4s 180us/step - loss: 0.4189 - acc: 0.8252
Epoch 128/200
20720/20720 [==============================] - 4s 181us/step - loss: 0.4190 - acc: 0.8264
Epoch 129/200
20720/20720 [==============================] - 5s 220us/step - loss: 0.4189 - acc: 0.8247
Epoch 130/200
20720/20720 [==============================] - 4s 180us/step - loss: 0.4188 - acc: 0.8257
Epoch 131/200
20720/20720 [==============================] - 4s 181us/step - loss: 0.4188 - acc: 0.8256
Epoch 132/200
20720/20720 [==============================] - 4s 183us/step - loss: 0.4190 - acc: 0.8255
Epoch 133/200
20720/20720 [==============================] - 5s 221us/step - loss: 0.4185 - acc: 0.8250
Epoch 134/200
20720/20720 [==============================] - 4s 184us/step - loss: 0.4191 - acc: 0.8261
Epoch 135/200
20720/20720 [==============================] - 4s 182us/step - loss: 0.4188 - acc: 0.8258
Epoch 136/200
20720/20720 [==============================] - 4s 180us/step - loss: 0.4185 - acc: 0.8259
Epoch 137/200
20720/20720 [==============================] - 5s 220us/step - loss: 0.4184 - acc: 0.8252
Epoch 138/200
20720/20720 [==============================] - 4s 179us/step - loss: 0.4186 - acc: 0.8268
Epoch 139/200
20720/20720 [==============================] - 4s 187us/step - loss: 0.4185 - acc: 0.8255
Epoch 140/200
20720/20720 [==============================] - 4s 184us/step - loss: 0.4185 - acc: 0.8249
Epoch 141/200
20720/20720 [==============================] - 5s 218us/step - loss: 0.4184 - acc: 0.8254
Epoch 142/200
20720/20720 [==============================] - 4s 178us/step - loss: 0.4185 - acc: 0.8258
Epoch 143/200
20720/20720 [==============================] - 4s 179us/step - loss: 0.4186 - acc: 0.8261
Epoch 144/200
20720/20720 [==============================] - 4s 180us/step - loss: 0.4187 - acc: 0.8254
Epoch 145/200
20720/20720 [==============================] - 5s 221us/step - loss: 0.4186 - acc: 0.8259
Epoch 146/200
20720/20720 [==============================] - 4s 185us/step - loss: 0.4185 - acc: 0.8264
Epoch 147/200
20720/20720 [==============================] - 4s 186us/step - loss: 0.4183 - acc: 0.8263
Epoch 148/200
20720/20720 [==============================] - 4s 189us/step - loss: 0.4184 - acc: 0.8257
Epoch 149/200
20720/20720 [==============================] - 5s 238us/step - loss: 0.4185 - acc: 0.8251
Epoch 150/200
20720/20720 [==============================] - 4s 192us/step - loss: 0.4177 - acc: 0.8274
Epoch 151/200
20720/20720 [==============================] - 4s 188us/step - loss: 0.4179 - acc: 0.8277
Epoch 152/200
20720/20720 [==============================] - 4s 196us/step - loss: 0.4180 - acc: 0.8269
Epoch 153/200
20720/20720 [==============================] - 5s 226us/step - loss: 0.4178 - acc: 0.8257
Epoch 154/200
20720/20720 [==============================] - 4s 184us/step - loss: 0.4179 - acc: 0.8254
Epoch 155/200
20720/20720 [==============================] - 4s 180us/step - loss: 0.4183 - acc: 0.8262
Epoch 156/200
20720/20720 [==============================] - 4s 184us/step - loss: 0.4180 - acc: 0.8263
Epoch 157/200
20720/20720 [==============================] - 5s 232us/step - loss: 0.4180 - acc: 0.8264
Epoch 158/200

20720/20720 [==============================] - 4s 180us/step - loss: 0.4179 - acc: 0.8249
Epoch 159/200
20720/20720 [==============================] - 3s 168us/step - loss: 0.4180 - acc: 0.8263
Epoch 160/200
20720/20720 [==============================] - 4s 188us/step - loss: 0.4174 - acc: 0.8261 1
Epoch 161/200
20720/20720 [==============================] - 4s 210us/step - loss: 0.4179 - acc: 0.8261
Epoch 162/200
20720/20720 [==============================] - 3s 167us/step - loss: 0.4178 - acc: 0.8264
Epoch 163/200
20720/20720 [==============================] - 3s 167us/step - loss: 0.4176 - acc: 0.8256
Epoch 164/200
20720/20720 [==============================] - 3s 166us/step - loss: 0.4177 - acc: 0.8270
Epoch 165/200
20720/20720 [==============================] - 4s 201us/step - loss: 0.4178 - acc: 0.8271
Epoch 166/200
20720/20720 [==============================] - 4s 172us/step - loss: 0.4174 - acc: 0.8264
Epoch 167/200
20720/20720 [==============================] - 3s 168us/step - loss: 0.4175 - acc: 0.8262 1s
Epoch 168/200
20720/20720 [==============================] - 4s 171us/step - loss: 0.4178 - acc: 0.8263
Epoch 169/200
20720/20720 [==============================] - 5s 219us/step - loss: 0.4173 - acc: 0.8261
Epoch 170/200
20720/20720 [==============================] - 5s 243us/step - loss: 0.4177 - acc: 0.8266 0s - loss: 0.4166 - ac
Epoch 171/200
20720/20720 [==============================] - 4s 174us/step - loss: 0.4173 - acc: 0.8261
Epoch 172/200
20720/20720 [==============================] - 3s 168us/step - loss: 0.4177 - acc: 0.8253
Epoch 173/200
20720/20720 [==============================] - 4s 200us/step - loss: 0.4171 - acc: 0.8272
Epoch 174/200
20720/20720 [==============================] - 4s 185us/step - loss: 0.4173 - acc: 0.8261
Epoch 175/200
20720/20720 [==============================] - 4s 170us/step - loss: 0.4168 - acc: 0.8271
Epoch 176/200
20720/20720 [==============================] - 4s 169us/step - loss: 0.4173 - acc: 0.8260
Epoch 177/200
20720/20720 [==============================] - 4s 176us/step - loss: 0.4168 - acc: 0.8270
Epoch 178/200
20720/20720 [==============================] - 4s 206us/step - loss: 0.4177 - acc: 0.8260
Epoch 179/200
20720/20720 [==============================] - 4s 172us/step - loss: 0.4174 - acc: 0.8277
Epoch 180/200
20720/20720 [==============================] - 4s 174us/step - loss: 0.4174 - acc: 0.8263
Epoch 181/200
20720/20720 [==============================] - 4s 217us/step - loss: 0.4174 - acc: 0.8261
Epoch 182/200
20720/20720 [==============================] - 4s 201us/step - loss: 0.4172 - acc: 0.8268
Epoch 183/200
20720/20720 [==============================] - 4s 213us/step - loss: 0.4170 - acc: 0.8264 1s -
Epoch 184/200
20720/20720 [==============================] - 4s 187us/step - loss: 0.4169 - acc: 0.8261
Epoch 185/200
20720/20720 [==============================] - 4s 188us/step - loss: 0.4176 - acc: 0.8270
Epoch 186/200
20720/20720 [==============================] - 4s 194us/step - loss: 0.4173 - acc: 0.8271
Epoch 187/200
20720/20720 [==============================] - 3s 166us/step - loss: 0.4169 - acc: 0.8255
Epoch 188/200
20720/20720 [==============================] - 3s 169us/step - loss: 0.4170 - acc: 0.8262
Epoch 189/200
20720/20720 [==============================] - 4s 171us/step - loss: 0.4170 - acc: 0.8264
Epoch 190/200
20720/20720 [==============================] - 4s 215us/step - loss: 0.4176 - acc: 0.8264
Epoch 191/200
20720/20720 [==============================] - 5s 222us/step - loss: 0.4170 - acc: 0.8270 0s - loss: 0.417
Epoch 192/200
20720/20720 [==============================] - 4s 186us/step - loss: 0.4169 - acc: 0.8256
Epoch 193/200
20720/20720 [==============================] - 4s 186us/step - loss: 0.4167 - acc: 0.8263
Epoch 194/200
20720/20720 [==============================] - 6s 281us/step - loss: 0.4172 - acc: 0.8262
Epoch 195/200
20720/20720 [==============================] - 4s 202us/step - loss: 0.4170 - acc: 0.8270
Epoch 196/200
20720/20720 [==============================] - 6s 308us/step - loss: 0.4171 - acc: 0.8261
Epoch 197/200
20720/20720 [==============================] - 5s 244us/step - loss: 0.4172 - acc: 0.8264
Epoch 198/200
20720/20720 [==============================] - 4s 208us/step - loss: 0.4170 - acc: 0.8262
Epoch 199/200
20720/20720 [==============================] - 4s 208us/step - loss: 0.4168 - acc: 0.8267
Epoch 200/200
20720/20720 [==============================] - 5s 260us/step - loss: 0.4171 - acc: 0.8258

In [48]:
y_pred= classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [49]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [50]:
cm

array([[6549,  311],
       [1308,  713]], dtype=int64)

In [55]:
(6549+713)/(6549+713+1308+311)

0.8177007093795744